* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/background.jpg);
  font-family: "Kufam", cursive;
  font-size: 4rem;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: gray;
  }
}
.header {
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: rgba(20, 19, 70, 0.5);
  #stars {
    position: absolute;
    animation: stars 4s linear infinite;
  }
  h1 {
    position: relative;
    padding: 4rem;
    z-index: 1;
    a:hover {
      color: white;
    }
  }
  .nav {
    position: relative;
    list-style-type: none;
    background-color: rgb(2, 20, 44);
    border-top: solid white 1rem;
    border-bottom: solid white 0.5rem;
    z-index: 1;
    padding: 1rem;
    li {
      display: inline;
      margin: 1rem 4rem;
    }
    a {
      color: white;
    }
    a:hover {
      color: gray;
    }
    a:visited {
      color: white;
    }
    a:hover:visited {
      color: gray;
    }
  }
}
.container {
  height: 150rem;
  margin: 20px;
  display: grid;
  grid-template-columns: 11% 26% 26% 26% 11%;
  grid-template-rows: 23% 23% 23% 23% 8%;
  grid-gap: 6rem 2rem;
  a {
    color: white;
  }
  .discover {
    position: relative;
    grid-column: 2/5;
    grid-row: 1;
    box-shadow: 20px 20px black;
    overflow: hidden;
    .discover:hover {
      transform: scale(1.5);
    }
    #discoverimg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    h3 {
      position: relative;
      top: 50%;
      text-align: center;
    }
  }

  .zodiac {
    position: relative;
    grid-column: 2/3;
    grid-row: 2;
    box-shadow: 20px 20px black;
    overflow: hidden;
    #zodiacimg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    h3 {
      position: relative;
      top: 50%;
      text-align: center;
    }
  }
  .compatabilities {
    position: relative;
    grid-column: 3/5;
    grid-row: 2;
    box-shadow: 20px 20px black;
    overflow: hidden;
    #compatabilityimg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    h3 {
      position: relative;
      top: 50%;
      text-align: center;
    }
  }
  .queens {
    position: relative;
    grid-column: 2/3;
    grid-row: 3;
    box-shadow: 20px 20px black;
    overflow: hidden;
    #queenimg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    h3 {
      position: relative;
      top: 50%;
      text-align: center;
    }
  }
  .star-gazing {
    position: relative;
    grid-column: 3/4;
    grid-row: 3;
    box-shadow: 20px 20px black;
    overflow: hidden;
    #stargazingimg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    h3 {
      position: relative;
      top: 50%;
      text-align: center;
    }
  }
  .light-dark {
    position: relative;
    grid-column: 4/5;
    grid-row: 3/5;
    background-image: url(../images/dark.jpg);
    box-shadow: 20px 20px black;
    overflow: hidden;
    #shadowsideimg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    h3 {
      position: relative;
      top: 50%;
      text-align: center;
    }
  }
  .horoscope {
    position: relative;
    grid-column: 2/4;
    grid-row: 4;
    background-image: url(../images/horoscope.jpg);
    box-shadow: 20px 20px black;
    overflow: hidden;
    #horoscopeimg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    h3 {
      position: relative;
      top: 50%;
      text-align: center;
    }
  }
  .footer {
    position: relative;
    grid-column: 1/6;
    grid-row: 5;
    background-color: black;
    box-shadow: 20px 20px black;
    border-top: solid white 1rem;
    background-color: rgba(20, 19, 70, 0.5);
    overflow: hidden;
    #stars {
      position: absolute;
      animation: stars 4s linear infinite;
    }
    p {
      position: relative;
      font-size: 1rem;
      text-align: center;
    }
  }
}

@keyframes stars {
  from {
    transform: translateX(-6000px);
  }
  to {
    transform: translateX(900px);
  }
}

/////////////
////Signs////
/////////////

.signcontainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr auto;
  font-size: 2rem;
  text-align: center;
  .signnav {
    grid-column: 1/2;
    grid-row: 1/2;
    list-style-type: none;
    border-right: 2px solid rgb(2, 20, 44);
    li {
      margin: 1.5rem 0rem;
    }
  }
  .signmain {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;

    .button {
      position: absolute;
      top: 40px;
      height: 5rem;
      width: 10rem;
      margin: 4rem 4rem 0rem 4rem;
      border: 0.5rem solid rgb(2, 20, 44);
      box-shadow: 0.2rem 0.2rem black;
      border-radius: 100%;
      background-image: url(../images/background.jpg);
      color: white;
      font-size: 2rem;
    }
    .next {
      right: 0px;
    }
    .previous {
      left: 0px;
    }
    h3 {
      text-align: center;
      margin: 2rem;
    }
    .sign {
      border: 4px solid rgb(20, 19, 70);
      background-color: rgba(20, 19, 70, 0.5);
      border-radius: 30%;
      box-shadow: 20px 20px black;
      margin: 3rem 1rem;
      padding: 8rem;
      display: none;
    }
  }
  .signfooter {
    position: relative;
    grid-column: 1/4;
    grid-row: 2/3;
    border-top: solid white 1rem;
    background-color: rgba(20, 19, 70, 0.5);
    overflow: hidden;
    #stars {
      position: absolute;
      animation: stars 4s linear infinite;
    }
    p {
      position: relative;
      font-size: 1rem;
      text-align: center;
    }
  }
}
